#education{ 	
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#education .background{
	background: url('../pictures/code4.jpg') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 400vh;
    bottom: -400vh;
    left: 0;
    right: 0;
	opacity:.20;
} 

#awardtitle{
	font-size: 32px;
}